body {
  margin-top: 0px;
}



.main-nav {



  margin-top:0px;

}


a {
  text-decoration: none;
  color: #08c;
}

.test{
  flex-direction: row;
  padding:0px;
}

li {
  text-decoration: none;
  list-style: none;
  align-content: space-between;

}

#apple{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center 0%;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}

#store{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -30px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}

#mac{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -60px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}

#ipod{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -90px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}


#iphone{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -120px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}

#ipad{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -150px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}

#itunes{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -180px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}

#support{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -210px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}
#search{
  background: url('../images/globalnav_text.png') no-repeat;
  background-position: center -210px;
  width: 100px;
  height: 30px;
  border: solid 1px black;
}

.mainSection{

}

.container{
  background: url('../images/your_verse_hero.jpg')  50% 100% no-repeat;
  width: 1440px;
  height: 538px;
  margin: auto;
  margin-top: 0px;
}

aside{
  margin: 0px auto;
  width: 1440px;
}

footer{
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #6e6e6e;
  font-size: 10px;
  line-height: 1.2;

}

.flex { display: flex;}
.justify-center { justify-content: center;}
.justify-space { justify-content: space-between; }
.align-center { align-items: center;}
